{% extends 'layout.html' %} {% block content %}
<div class="col-md-4 offset-md-4">
  <!-- Formulario -->
  <form
    action="password"
    class="card card-body p-5"
    style="background-color: #121212"
  >
    <h2 class="w-100 text-center">Generador de Contraseñas</h2>
    <label for="lenght">Selecciones la longitud de su contraseña:</label>
    <select name="length" id="lenght" class="form-control">
      <option value="6">6 caracteres</option>
      <option value="7">7 caracteres</option>
      <option value="8">8 caracteres</option>
      <option value="9">9 caracteres</option>
      <option value="10">10 caracteres</option>
      <option value="11">11 caracteres</option>
      <option value="12">12 caracteres</option>
      <option value="13">13 caracteres</option>
      <option value="14">14 caracteres</option>
    </select>

    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="uppercase"
        name="uppercase"
      />
      <label class="form-check-label" for="uppercase">Mayúsculas</label>
    </div>

    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="special"
        name="special"
      />
      <label class="form-check-label" for="special"
        >Caracteres especiales</label
      >
    </div>

    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="numbers"
        name="numbers"
      />

      <label class="form-check-label" for="numbers">Números</label>
    </div>

    <button class="btn btn-primary">Generar</button>
  </form>
</div>
{% endblock %}
